<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
 
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
            <pattern>%date{yyyy-MM-dd} ~ %X{akkaTimestamp} ~ %-5level[%thread] ~ %logger{1} ~ %X{akkaSource} ~ %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="akka://mongodb-akka" level="INFO" />
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


    <logger name="play" level="DEBUG" />
    <logger name="application" level="DEBUG" />
    <logger name="akka.event.slf4j.Slf4jLogger" level="DEBUG" />
    <logger name="akka" level="DEBUG" />
    <logger name="actor" level="DEBUG" />

 



  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

      <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>


</configuration>
